*{
  margin: 0;
  padding: 0;
}

:root {
  --primary-gradient: linear-gradient(135deg, #0fa56921 0%, #8edf5f32 100%);
  --secondary-gradient: linear-gradient(135deg, #FF8A05 0%, #ffb35d 100%);
  --bg-dark: #0a0e17;
  --text-light: rgba(255, 255, 255, 0.9);
  --accent: #08b6d9;
}

:root{
  --primary-color: #f0f0f0;
  ---Primary-color: #8edf5f;
  --Primary-color: #09B6D9;
  --bg: #031b25;
  ---bg: #111;
  --secondary-color: #FF8A05;
  --footer-: #0e0e0e;
  /* ---bg: #082632; */
}
