*{
    margin: 0;
    padding: 0;
}

.why{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--bg);
    align-items: center;
    padding: 5% 0;
}

/* .vector{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;   
}

.vector img{
    width: auto;
    height: 90%;
} */

.textcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.textcontent h3{
    color: #f0f0f0;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 3%;
    /* background: linear-gradient(to right, #08b6d9, #087bb8); */
    padding: 1.5rem;
    /* border-radius: 1rem; */
    border-bottom: 5px solid #087bb8;
}

.content1{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 40%;
    margin: 1% 0;
}

.subcontent{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    width: 30%;
    height: auto;
}

.serialno{
    display: flex;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg);
    box-shadow: 2px 2px 10px 0px #000;
    border-radius: 0.8rem 0.5rem;
    font-family: "poppins", sans-serif;
    color: #f0f0f0;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.subcontent h4{
    font-family: "poppins", sans-serif;
    color: #f0f0f0;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3%;
}

.subcontent p{
    font-family: "poppins", sans-serif;
    color: #f0f0f0;
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 80%;
}